.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.text {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-text-main);
}

.icon {
  width: 2.5rem; 
  height: auto;
  object-fit: contain;
}
