.puzzlePieceContainer {
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 100;

  &.hide {
    .puzzlePiece,
    .puzzleEar {
      background-image: none !important;
      background-color: var(--color-text-muted);
      margin-right: 1px;

      &.leftSocket {
        mask: radial-gradient(circle at 0 49%, rgba(0, 0, 0, 0) 8px, black 8px);
      }
    }
  }
}

.puzzlePiece {
  position: relative;
  user-select: none;
  z-index: 100;

  display: inline-flex;
  white-space: nowrap;
  width: 100%;
  height: 53px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all 0.3s;

  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  &.leftSocket {
    mask: radial-gradient(circle at 0 50%, transparent 9px, black 9px);
  }
}

.puzzleEar {
  position: absolute;

  width: 16px;
  height: 16px;
  right: -8px;

  top: 50%;
  transform: translateY(-50%);

  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;

  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: no-repeat;

  &.hideEar {
    display: none;
  }
}
