.puzzleBoard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.translateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  gap: 10px;
}

.translateText {
  font-family: var(--font-heading);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  transition: all 0.5s;
}

.hide {
  display: none;
}
