.сontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3px;

  &:focus-within {
    .label {
      color: var(--color-primary);
    }

    .input {
      border-color: var(--color-primary);
    }
  }

  &.error {
    .label {
      color: var(--color-error);
    }
    .input {
      border: 2px var(--color-error) solid;
    }
    .errorText {
      opacity: 1;
    }
  }
  &.success {
    .label {
      color: var(--color-success);
    }
    .input {
      border: 2px var(--color-success) solid;
    }
    .errorText {
      opacity: 0;
    }
  }
}

.label {
  position: relative;
  z-index: 10;
  font-size: 0.75rem;
  color: var(--color-text-muted);
  font-weight: 600;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: var(--color-bg);
  width: fit-content;
  transition: all 0.3s;
}

.input {
  padding: 11px 10px;
  font-size: 0.9rem;
  border: 2px var(--color-text-muted) solid;
  border-radius: 5px;
  background: var(--color-bg);
  outline: none;
  width: 100%;
  transition: all 0.3s;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorText {
  color: var(--color-error);
  position: absolute;
  right: 0;
  font-size: 0.8rem;
}
