.mainContainer {
  display: flex;
  min-height: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 40px 30px;
  width: 550px;
  transform: translateY(-90px);

  gap: 40px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}
