.gameContainer {
  // min-height: 100%;
  // width: 100%;
  // flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
}

.devBtn {
  width: 300px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
